.container {
  width: 600px;
  margin: 70px auto;
}

.container .title {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 20px;
  color: #f66b07;
}

.container .form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .form input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
}

.container .form button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f66b07;
  color: #fff;
  font-weight: bold;
}

.user-list-container {
  margin-top: 20px;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
